/* color schme F6F5ED 8AD8F3 4598DB 727070 0F1E29 */

.home-page-center-content {
    width: 800px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}